@use "./variables" as *;

.search-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;

  .search-input {
    border: none;
    outline: none;
    padding: 4px 8px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.08);
    color: $text-light;
    width: 0;
    opacity: 0;
    transition: all 0.3s ease;

    &.expanded {
      width: 150px;
      opacity: 1;
    }
  }
}

@media (max-width: 768px) {
  .search-wrapper {
    display: none;
  }

  .search-wrapper.expanded-wrapper {
    display: flex !important;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
    margin-top: 1rem;
    gap: 0.5rem;

    .search-input {
      width: 100% !important;
      opacity: 1 !important;
    }
  }
}
