@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans&family=Press+Start+2P&family=VT323&display=swap');

$primary-bg: #0C134F;
$secondary-bg: #1D267D;
$highlight: #5C469C;
$accent: #D4ADFC;
$text-light: #ffffff;
$text-muted: #ccc;
$text-dark: #1D267D;

$font-header: 'Press Start 2P', monospace;
$font-body: 'VT323', monospace;
$font-btn: 'Pixelify Sans', sans-serif;

$radius: 16px;
$btn-radius: 50px;
$shadow-lg: 0 5px 20px rgba(212, 173, 252, 0.5);
$shadow-sm: 0 4px 12px rgba(0, 0, 0, 0.5);
