@use "./partials/variables" as *;
@use "./partials/filters" as *;
@use "./partials/card" as *;
@use "./partials/animations" as *;
@use "./partials/darkmode" as *;

.products-page {
  padding-top: 3rem;

  .fade-in {
    animation: fadeIn 0.6s ease-in both;
  }

  .fade-in-up {
    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 0.6s ease-out forwards;
  }

  .fade-slide-down {
    animation: slideDown 0.4s ease-out both;
  }
}

html[dir="rtl"] .products-page {
  direction: rtl;

  .row,.col-md {
    justify-content: flex-end; 
  }

  .product-card-style2 {
    direction: ltr;
  }
}
